*{
    box-sizing: border-box;
}

body{
    background-image: url(../images/common-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.title-div{
    /* height: 50px; */
    background-color: rgba(151, 191, 99, 0.8);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-div{
    border-radius: 5px;
    background-color: rgba(151, 191, 99, 0.8);
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.table {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.table-header{
    background-color: #028a0f;
    color: white;
}

.table-body{
    background-color: rgb(245, 245, 220);
    white-space: black;
}